@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "../../public/css/bootstrap.min.css";
@import "../../public/css/style.css";
@import "../../public/css/overide.css";

#video-page-title-pro {
    height: 100vh;
    background-color: #303030;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.spinner-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
