// The following are SCSS variables to automate some of the values.
// But don't feel limited by them. Change/replace whatever you want.
// The color of icons, text, and the big play button border.
// Try changing to #0f0
$primary-foreground-color: #ffffff; // #fff default
$secondary-foreground-color: #b7090b;
// The default color of control backgrounds is mostly black but with a little
// bit of blue so it can still be seen on all-black video frames, which are common.
// Try changing to #900
$primary-background-color: #262626; // #2B333F default
// Try changing to true
$center-big-play-button: true; // true default
$big-play-button: false; // hide big play button
$controls-margin: 2em;
// Make a slightly lighter version of the main background
// for the slider background.
$slider-bg-color: lighten($primary-background-color, 3%);
$progress-position: -2.5em;
@font-face {
    font-family: nf-icon;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-86.eot);
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-86.eot?#iefix)
            format("embedded-opentype"),
        url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-86.woff)
            format("woff"),
        url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-86.ttf)
            format("truetype"),
        url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-86.svg#nf-icon-v1-86)
            format("svg");
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.video-js {
    /* The base font size controls the size of everything, not just text.
     All dimensions use em-based sizes so that the scale along with the font size.
     Try increasing it to 15px and see what happens. */
    font-size: 1.1em;
    /* The main font color changes the ICON COLORS as well as the text */
    color: $primary-foreground-color;

    border: none !important;

    outline: none !important;
}

.background_video {
    position: relative;
    z-index: 1;
}

.background_video .back {
    position: relative;
    z-index: 100;
    opacity: 0;
    display: none;
    font-size: 3em;
    background: transparent;
    top: 0px;
    transition: opacity 0.5s linear;
}

.background_video .back a {
    color: #ffffff;
}

video[poster] {
    object-fit: cover;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.vjs-poster {
    background-size: cover;
    background-position: inherit;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    background-color: #222222;
}

.video-js .vjs-tech {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    border: none !important;
    outline: none !important;
    overflow: hidden;
}

.video-js .vjs-big-play-button {
    display: none !important;
}

.video-js .vjs-control-bar {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    transition: opacity 0.5s linear;
}

.video-js .vjs-progress-control {
    position: absolute;
    bottom: 45px;
}

.vjs-progress-control.vjs-control {
    width: 95%;
}

.video-js .vjs-time-control {
    right: 0px;
    bottom: 45px;
    position: absolute;
}

.vjs-text-track-display {
    bottom: 4em;
}

.vjs-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button {
    position: absolute;
    right: 70px;
}

.vjs-fullscreen-control.vjs-control.vjs-button {
    position: absolute;
    right: 0px;
}

.vjs-chapters-button.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button {
    position: absolute;
    right: 150px;
}

.video-js .vjs-progress-holder {
    height: 0.2em;
}

.video-js .vjs-play-progress::before {
    font-size: 0.7em;
    position: absolute;
    right: -0.5em;
    top: -0.3em;
    z-index: 1;
    color: red;
}

.video-js button {
    outline: none;
}

.video-js .vjs-play-progress {
    background-color: red;
}

#video {
    position: fixed;
}

#video-page-title-pro {
    height: 100vh;
    background-color: #303030;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.spinner-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.vjs-loading-spinner {
    border: none;
    opacity: 0;
    visibility: hidden;
    animation: vjs-spinner-fade-out 2s linear 1;
    animation-delay: 2s;
    &:before,
    &:after {
        border: none;
    }
    &:after {
        background-image: url(https://assets.nflxext.com/en_us/pages/wiplayer/site-spinner.png);
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
    }
}

.vjs-seeking .vjs-loading-spinner:after,
.vjs-waiting .vjs-loading-spinner:after {
    animation: vjs-spinner-spin 1.1s linear infinite,
        vjs-spinner-fade 1.1s linear 1 !important;
    animation-delay: 2s;
}

.vjs-seeking .vjs-loading-spinner,
.vjs-waiting .vjs-loading-spinner {
    opacity: 1;
    visibility: visible;
    animation: vjs-spinner-fade-in 2s linear 1;
    animation-delay: 2s;
}

@keyframes vjs-spinner-fade-in {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes vjs-spinner-fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: visible;
    }
}

a.video-page-title-play-button {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

@media only screen and (max-width: 575px) {
    .vjs-progress-control.vjs-control {
        width: 85%;
    }
}
