a {
    color: #fff;
}

.mt-4, .my-4 {
    margin-top: 1.9rem !important;
}


header#masthead-pro {
    position: relative;
    z-index: 50;
    background:#222;
}

header#masthead-pro h1 {
    border-right: none;
}

#mobile-bars-icon-pro{
	border-left: none;
}

#header-user-profile-click{
	border-left: none;
}

header#masthead-pro h1 img {
    width: 150px;
    margin: 18px 0px 25px 0px;
}

#cart-section {
    position: relative;
    float: right;
    margin-top: 1.4rem;
    margin-left: 17px;
}

.badge.cart-count {
    position: absolute;
    font-size: 13px;
    bottom: 29px;
    background-color: red;
    left: 28px;
    border-radius: 20px;
}


.btn.p-2.rounded-0 {
    margin-right: 15px;
    margin-left: 20px;
    margin-top: 20px;
}

.background-image{
	/* Background image */
	background-image: url('/images/banners/Bgnollyn01.jpg');
	/* Full-screen */
	height: 600px;
	/* Center the background image */
	background-position: center;
	/* Scale and zoom in the image */
	background-size: cover;
	/* Add position: relative to enable absolutely positioned elements inside the image (place text) */
	position: relative;
	z-index: 0;
}

/* Position text in the middle */
.signup--middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color:#ffffff; 
	padding-left: 10px;
	padding-right: 10px;
	width: auto;
	z-index: 1;

}


.progression-video-index-content.no-background{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	bottom:-1px;
	background:none;	
}


.disable-click{
    pointer-events:none;
}

.video-title-container {
    width: calc(100% - 3px);
    position: relative;
    z-index: 3;
}

/*
  Buttons
*/

.btn-slider-pro{
	padding:20px 36px;
}

.btn:focus {
	box-shadow: none;
}

a#video-post-play-text-btn:focus {
	box-shadow: none;
}

a#video-post-play-text-btn:hover {
    background: #E50914;
    border-color: #E50914;
}

a#video-post-play-text-btn {
    background: #E50914;
    border-color: #E50914;
}

.anchor-btn {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
    padding: 5px !important;
    font-size: 13px;
    border: 2px solid #E50914;
    background: none !important;
    color: #ffffff;
    border-radius: 100px;
    margin-top: 5px;
	width: 150px;
	display: block;
	text-align: center;
	vertical-align: middle;
}




/*Slide*/
.progression-studios-slider-caption-width {
    max-width: 590px;
}
  


@media only screen and (max-width: 575px) {
	header#masthead-pro h1 img {
		width: 100px;
		margin: 26px 0px 25px 0px;
	}

	.btn.p-2.rounded-0 {
		margin-right: 0px;
		margin-left: 0px;
		margin-top: 20px;
	}

	.btn-slider-pro{
		padding:15px 15px;
	}

	header#masthead-pro h1 img {
		width: 120px;
		margin: 19px 0px 25px 10px;
		height: 40px;
	}

	#cart-section {
		margin-right: 35px;
	}

}


.footer-links {
    list-style: none;
	margin: 0px;
	text-align: center;
}

.footer-links li {
    display: inline-block;
    padding: 5px;
    margin-right: 40px;
}







