a {
    color: #fff;
}

.mt-4 {
    margin-top: 1.9rem !important;
}

.mt-9  {
    margin-top: 6rem !important;
}

.pointer-events{  pointer-events: none;}

header#masthead-pro {
    position: relative;
    z-index: 50;
    background:#222;
}

header#masthead-pro h1 {
    border-right: none;
}

#mobile-bars-icon-pro{
	border-left: none;
}

#header-user-profile-click{
	border-left: none;
}

header#masthead-pro h1 img {
    width: 150px;
    margin: 18px 0px 25px 0px;
}


#header-user-profile-click{
	padding: 24px 35px 20px 25px;
}

#progression-studios-header-search-icon {
    float: right;
    position: relative;
    z-index: 15;
    margin-top: 0px;
}


#video-search-header {
    width: 100%;
    position: absolute;
    top: 0px;
    padding: 0px 0px 0px 0px;
    background: #171425;
    z-index: 555;
}

input#main-text-field {
    background: #272633;
    border: none;
    border-bottom: 2px solid #3b3a45;
    margin: 0px !important;
    width: 100%;
    padding: 14px 50px 14px 20px;
    font-size: 14px;
    box-shadow: 0px 0px 25px rgba(0,0,0, 0);
    height: 80px;
}

#video-search-header .search-spinner{
	position: absolute;
	right: 70px;
    top: 30px;   
}

.fa-1x {
    font-size: 1.3em;
}

#video-search-header .close-icon{
	position: absolute;
	right: 30px;
	top: 16px;
	font-size: 1.6rem;
	cursor: pointer;
}


.login-btn{
    margin-right: 15px;
    margin-left: 20px;
    margin-top: 25px;
}

.background-image{
	/* Background image */
	background-image: url('/images/banners/Bgnollyn01.jpg');
	/* Full-screen */
	height: 600px;
	/* Center the background image */
	background-position: center;
	/* Scale and zoom in the image */
	background-size: cover;
	/* Add position: relative to enable absolutely positioned elements inside the image (place text) */
	position: relative;
	z-index: 0;
}

/* Position text in the middle */
.signup--middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color:#ffffff; 
	padding-left: 10px;
	padding-right: 10px;
	width: auto;
	z-index: 1;

}

.progression-video-index-content{
	opacity: 0;
	display: none;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	animation-name: fadeIn;
    -webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

div.item:hover  .progression-video-index-content{
	opacity: 1;
	display: block;
}


.progression-video-index-content.no-background{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	bottom:-1px;
	background:none;	
}

li svg{
	height: 22px;
    width: 22px;
    margin: 0 auto;
    fill: #fff;
    max-width: 22px;
}


ul.video-index-meta-taxonomy li::after {
    content: ' ';
}

ul.video-index-meta-taxonomy li {
    margin: 0px 0px 5px 18.5px;
	font-weight: bolder;
	color: #ffffff;
}

.progression-video-index-vertical-align {
    padding: 0px;
}


.disable-click{
    pointer-events:none;
}

.video-title-container {
    width: calc(100% - 3px);
    position: relative;
    z-index: 3;
}

/*
  Buttons
*/

.btn-slider-pro{
	padding:20px 36px;
}

.btn:focus, .btn-primary:focus{
	box-shadow: none;
}


.btn-primary {
	box-shadow: none;
	background: #ef0f1a !important;
}


.anchor-btn {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
    padding: 5px !important;
    font-size: 13px;
    border: 2px solid #ef0f1a;
    background: #ef0f1a !important;
    color: #ffffff;
    border-radius: 100px;
    margin-top: 5px;
	width: 150px;
	display: none;
	text-align: center;
	vertical-align: middle;
	opacity: 0;
	display: none;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

}


div.item:hover  .anchor-btn{
	opacity: 1;
	display: block;
}


.links-section{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*Slide*/
.progression-studios-slider-caption-width {
    max-width: 590px;
}

/*
 Profile
*/


a.edit-profile-sidebar:hover {
    background: rgba(0,0,0,.7);
}

a.edit-profile-pic {
    text-align: center;
    z-index: 8;
    position: absolute;
    right: 0px;
    line-height: 1;
    padding: 15px 10px;
    border-bottom-left-radius: 0px;
    font-size: 13px;
    color: #ffffff;
    box-shadow: 0px 2px 14px rgba(0,0,0, 0.25);
    bottom: 0px;
    display: inline-block;
    width: 100%;
    background-color: rgba(0,0,0,.7);
}



input.profile-pic-file {
	display: block;
	filter: alpha(opacity=0);
	font-size: 1px;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	text-align: right;
	top: 0;
	width: 100%;
	z-index: 0;
}

input.profile-pic-file:hover { display: none;}

  

@media only screen and (max-width: 575px) {
	header#masthead-pro h1 img {
		width: 100px;
		margin: 26px 0px 25px 0px;
	}

	.btn.p-2.rounded-0 {
		margin-right: 0px;
		margin-left: 0px;
		margin-top: 20px;
	}

	.btn-slider-pro{
		padding:15px 15px;
	}

	header#masthead-pro h1 img {
		width: 120px;
		margin: 19px 0px 25px 10px;
		height: 40px;
	}

	#cart-section {
		margin-right: 35px;
	}

	.membership-required-container {
		padding-left: 0px;
		padding-right: 0px;
	}

}

.progress {
    height: 0.2rem;
}

.footer-links {
    list-style: none;
	margin: 0px;
	text-align: center;
	font-size: 13px;
}

.footer-links li {
    display: inline-block;
    padding: 5px;
    margin-right: 40px;
}


/*
 Animation
*/
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both; }
  
  .animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite; }
  
  .animated.hinge {
	-webkit-animation-duration: 2s;
	animation-duration: 2s; }
  
  .animated.bounceIn, .animated.bounceOut {
	-webkit-animation-duration: .75s;
	animation-duration: .75s; }
  
  .animated.flipOutX, .animated.flipOutY {
	-webkit-animation-duration: .75s;
	animation-duration: .75s; }
  
  @-webkit-keyframes shake {
	from, to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0); }
	10%, 30%, 50%, 70%, 90% {
	  -webkit-transform: translate3d(-10px, 0, 0);
	  transform: translate3d(-10px, 0, 0); }
	20%, 40%, 60%, 80% {
	  -webkit-transform: translate3d(10px, 0, 0);
	  transform: translate3d(10px, 0, 0); } }
  @keyframes shake {
	from, to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0); }
	10%, 30%, 50%, 70%, 90% {
	  -webkit-transform: translate3d(-10px, 0, 0);
	  transform: translate3d(-10px, 0, 0); }
	20%, 40%, 60%, 80% {
	  -webkit-transform: translate3d(10px, 0, 0);
	  transform: translate3d(10px, 0, 0); } }
  .shake {
	-webkit-animation-name: shake;
	animation-name: shake; }
  
  @-webkit-keyframes fadeInDown {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0); }
	to {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none; } }
  @keyframes fadeInDown {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0); }
	to {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none; } }
  .fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown; }
  
  @-webkit-keyframes fadeOut {
	from {
	  opacity: 1; }
	to {
	  opacity: 0; } }
  @keyframes fadeOut {
	from {
	  opacity: 1; }
	to {
	  opacity: 0; } }
  .fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut; }
  
  @-webkit-keyframes fadeOutDown {
	from {
	  opacity: 1; }
	to {
	  opacity: 0;
	  -webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0); } }
  @keyframes fadeOutDown {
	from {
	  opacity: 1; }
	to {
	  opacity: 0;
	  -webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0); } }
  .fadeOutDown {
	-webkit-animation-name: fadeOutDown;
	animation-name: fadeOutDown; }
  
  @-webkit-keyframes fadeOutUp {
	from {
	  opacity: 1; }
	to {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0); } }
  @keyframes fadeOutUp {
	from {
	  opacity: 1; }
	to {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0); } }
  .fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp; }
	.alert {
	  margin-bottom: 0px;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
  /* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
  
  @-webkit-keyframes rollIn {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	  transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	}
	to {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  @keyframes rollIn {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	  transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
}

.card{
	background-color: #08070e !important;
}

.card-profile .card-avatar img, .card-testimonial .card-avatar img {
    border-radius: 50% !important;
}

.card-profile .card-avatar {
    max-width: 130px;
    max-height: 130px;
    margin: -60px auto 0;
    margin-top: -60px;
}

.profile-section-images-title{
	margin-bottom:110px;
}

#video-page-title-pro {
    height: 85vh;
    margin-bottom: 0px;
}

h1.video-post-heading-title {
    font-size: 30px;
}

a.video-page-title-play-button span {
    position: relative;
    top: calc(50% - 85px);
    text-align: center;
    border-radius: 150px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: #ffffff;
    font-size: 42px;
    background: rgba(0,0,0, 0.2);
    box-shadow: 0px 0px 20px rgba(0,0,0, 0.2);
}


.purchase-btn-icon svg {
    fill: #fff;
}
.purchase-btn-icon svg {
    height: 32px;
    width: 32px;
    margin: 0 auto;
    fill: #fff;
    max-width: 32px;
}
 
  
  







