@font-face {
  font-family: nf-icon;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-86.eot);
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-86.eot?#iefix) format("embedded-opentype"), url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-86.woff) format("woff"), url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-86.ttf) format("truetype"), url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-86.svg#nf-icon-v1-86) format("svg");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.video-js {
  /* The base font size controls the size of everything, not just text.
     All dimensions use em-based sizes so that the scale along with the font size.
     Try increasing it to 15px and see what happens. */
  font-size: 20px;
  /* The main font color changes the ICON COLORS as well as the text */
  color: #cacaca;
  border: none !important;
  outline: none !important;
}

video[poster] {
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.vjs-poster {
  background-size: cover;
  background-position: inherit;
  z-index: -1;
}

#video {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  background-color: #222222;
}

.video-js .vjs-tech {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
  border: none !important;
  outline: none !important;
  overflow: hidden;
}

.video-js .vjs-big-play-button {
  display: none !important;
}

.video-js .vjs-control-bar {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  transition: opacity 0.5s linear;
}

.video-js .vjs-play-progress {
  background-color: red;
}

#video {
  position: fixed;
}

.back {
  position: relative;
  z-index: 100;
  font-size: 18px;
  opacity: 0;
  display: none;
}

.back a {
  color: #ffffff;
}

#video-page-title-pro {
  height: 85vh;
  margin-bottom: 0px;
}

#video-page-title-pro {
  height: 100vh;
  background-color: #303030;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

a.video-page-title-play-button {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

